* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.showSearch {
  width: 15em;
  margin-left: 30em;
  width: 200px;
  height: 30px;

}

/* .fa,fa-home{
  color: rgb(15, 11, 11);
    width: 50%;
    height: 50%;
    margin-top: 8%;
    margin-left: 7.5%;
    font-size: 5em;
    background-size: 120%;
} */

/* #root {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  grid-gap: 2em;
  margin: 1.5rem;
  text-align: center;
  background-color: rgb(41, 147, 233);
}  */
#root {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

body {
  background-color: rgb(230, 230, 185);
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  height: 70vh;
  text-align: center;
  margin-top: 5em;
  background-image: url(img/remote.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: center;
  margin-bottom: 3em;
  margin-top: 3em;
}

#btn {
  color: blue;
  width: 4em;
  height: 4em;

}

h1 {
  font-size: 8em;
  color: black;

}

h2 {
  font-size: 5em;
  color: black;
}

.title {
  font-size: 35px;
  text-align: center;
  color: rgb(0, 0, 0);
}

.contain-title {
  padding-top: 10em;
  color: white;
}

#search {
  width: 30em;
  height: 2.5em;
  border-color: rgb(0, 0, 0);
  border-radius: 1em;
  border-width: 0.3em;
}

.displaySearch {
  color: black;
  border: red;
}

#select {
  width: 30em;
  height: 3em;
  margin-right: 2em;
  border-color: rgb(0, 0, 0);
  border-radius: 1em;
  border-width: 0.3em;
}
#search-input{
  width:30em;
  height:3em;
  border-radius: 1em;
  border-width:0.3em;
}
#select-show {
  width: 30em;
  height: 3em;
  border-color: black;
  border-radius: 1em;
  border-width: 0.3em;
  margin-right: 2em;
}
#searchShow{
  width: 30em;
  height:3em;
  border-radius:1em;
  border-width: 0.3em;
}
#btn {
  margin-right: 1em;
}


.container {
  display: grid;
  grid-column: auto;

  background-color: white;
  border-color: rgb(6, 5, 99);
  border-style: groove;
  border-radius: 1em;
  height: auto;
  width: 30em;
  margin-left: 6.5em;
  margin-bottom: 2em;
  margin-top: 4em;
}

.season-episode {
  text-align: center;
  font-style: italic;
  font-size: 30px;
}

img {
  padding-left: 2em;
}

.summary {
  color: black;
  font-size: 25px;
  padding: 1em;
  font-size: 16px;
}

/* #reset {
  color: black;
  margin-right: 1.5em;
} */

footer {
  text-align: center;
  font-size: 2em;
}

/* ---------------shows----------------- */
.showCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 30px;
  background-color: white;
  width: 80%;
  height: auto;
  box-shadow: 5px 10px;
  border-style: groove;
  border-color: rgb(15, 15, 17);
  padding: 30px;
  align-items: center;
  margin-left: 15em;
  margin-right: 15em;
  margin-top: 2em;
  background-color: rgb(155, 154, 154);
}

.showDetails {
  display: flex;
  margin-top: 2em;
}

.showInfo {
  font-size: 20px;
}

.showInfoTitle:hover {
  cursor: pointer;
  color: rgb(16, 32, 179);
}

span {
  color: rgb(17, 0, 255);
}

.showInfoTitle {
  font-size: 24px;
}

.showInfo {
  margin-left: 50px;
}

.showInfoDiv {
  margin-top: 30px;
}

.showInfoParagraphs {
  font-size: 17px;
  margin-bottom: 10px;
}

.showSummary {
  margin-top: 30px;
  font-size: 18px;
}
/* short */
/* .showSummary {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;

  -webkit-line-clamp: 4;
} */
/* .showSummary{
  overflow:hidden;
  height:45px;
} */


.btnMore {
color:blue

}
.btnLess {
color:blue
}

.showImage {
  width: 250px;

}

/* ----------------------small screen------------------------------------- */

@media only screen and (max-width: 600px) {
  .header {
    background-size: cover;
  }
  nav {
    display: flex;
    flex-direction: column;
   
  }
#select-show {
  margin-bottom: 1em;
}
  h1 {
    text-align: justify;
    font-size: 5em;
  }

  h2 {
    text-align: justify;
    font-size: 2.5em;
  }

  #btn {
    margin-left: 1em;
    color: black;
    margin-right: 1em;
  }

  .showCard {
    width: 50%;
  }

  .showDetails {
    width: fit-content;
    display: flex;
    flex-direction: column;

  }

  .showSearch {
    width: 10em;
    margin-bottom: 1em;
    margin-left: 15em;
  }

  .showInfo {
    margin-left: 2em;
  }

  .showImage {

    width: 20em;
    height: 15em;
  }

  .showSummary {
    padding-left: 1em;
    width: 20em;

  }

  .showDiv {
    background-color: white;
  }

  #container {
    width: 15em;
  }

  body {
    background-color: rgb(1, 111, 200);
  }

}