#root {
  color: black;
}

body{
background-color:rgb(230, 230, 185);
font-family: Arial, Helvetica, sans-serif;
}
.container{
  display:grid;
  grid-template-columns: 1fr 1fr;
  border-style:groove;
  margin:20px 30px
    
}

.title {
  font-size: 35px;

}
.season-episode{
  font-style: italic;
  font-size: 30px;

}

.summary {
  color:black;
  font-size: 25px;
}